

  .header img {
    width: 120px; 
    margin-right: 10px; 
    margin-left: 20px;
  }
  
    html,
    body {
      height: 100%;
      margin: 0;
    }
  
    .site-container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  
    .content-wrap {
      flex: 1;
      display: flex;
      justify-content: center;
      width: 100%;
      /* This will make the content expand to fill available space */
      margin-top: 150px;
    }

  .footer {
    background-color: #777777;
    color: white;
    text-align: right;
    padding: 10px 20px;
}

  #title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #ffffff;
  }

  .header {
    background: linear-gradient(to right, #053B50, #00A896);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
   
  }

  .float-end{
    font-family: 'Roboto', sans-serif;
    margin-right: 50px;
    color: white;
    font-size: large;
    font-weight: bold;
  }

  #icon {
    size: 10px;
    margin-right: 40px; 
    margin-left: 20px;
    font-size: 30px;
    color: #ffffff;
  }

  #icon:hover {
    color: #053B50; 
    cursor: pointer; 
    transform: scale(1.2); 
    transition: transform 0.2s; 
  }
/*Dropdown profile: */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  z-index: 1;
  border: 2px solid #ccc;
  border-radius: 5px;
  top: 100%; 
  right: 40%;
  font-size: 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

