<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<div class="header p-3 d-flex align-items-center">
  <img src="/assets/FITJourney_logo.png" alt="Logo" class="logo" style="max-width: 300px;">
  <h1 id="title" class="text-center m-0 flex-grow-1">FitJourney</h1>
  <i routerLink="/dashboard" id="icon" class="bi bi-house-fill icon-large"></i>
  <i routerLink="/profile" id="icon" class="fa fa-user icon-large"></i>
</div>

<div>
  
</div>

<div class="footer">
  <a routerLink="/about" class="float-end text-white">About</a>
</div>
<router-outlet></router-outlet>