<div class="page-container">
<div class="card">
  <div class="card-header" style="height: 60px;">
    <h2 style="margin-top:20px">Your Dashboard</h2>
  </div>
  <div class="card-body" style="height: 80px;">
    <div class="formGroup text-center"> 
      <a class="btn btnPrimary" routerLink="/new-workout" style="font-size: 18px; padding: 10px 20px;">
        Add Workout <i class="bi bi-plus" style="font-size: 18px;"></i>
      </a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" style="height: 40px;">
    <h4 style="margin-top:10px;">Your Statistics</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3" style="margin-left: 80px; margin-top: 110px; margin-right: 80px;"> 
        <div class="chart-container" style="height: 400px; max-height: 400px;">
            <canvas #averageWeightProgressCanvas style="margin-bottom: 30px;"></canvas>
          
               
            <div style="display: flex; align-items: center; margin-top: 10px;">
              <label style="margin-right: 5px;">From:</label>
              <input type="date"  [(ngModel)]="startDate" (change)="getAverageWeightProgressForMuscleGroup()" style="width: 140px; font-size: 14px; padding: 5px 10px; height: 30px;">
            </div>
            
            <div style="display: flex; align-items: center; margin-top: 10px; ">
              <label style="margin-right: 20px;">To:</label>
              <input type="date"  [(ngModel)]="endDate" (change)="getAverageWeightProgressForMuscleGroup()" style="width: 140px; font-size: 14px; padding: 5px 10px; height: 30px;">
            </div>
      
            <div style="display: flex; align-items: center;">
              <label for="selectedMuscleGroup" style="margin-right: 5px; margin-top: 10px;">Select Muscle Group:</label>
              <select id="selectedMuscleGroup" [(ngModel)]="selectedMuscleGroup" (change)="getAverageWeightProgressForMuscleGroup()" style="font-size: 14px; width: 100px; padding: 5px 10px; height: 30px; margin-top: 10px; width: 150px; ">
                <option *ngFor="let muscleGroup of muscleGroups" [value]="muscleGroup">{{muscleGroup}}</option>
              </select>
          </div>
           
        </div>
      </div>
      <div class="col-md-4" >
        <div class="chart-container" style="height: 400px; max-height: 500px; margin-top: 50px;" >
          <div>
            <canvas #chartCanvas style="margin-bottom: 10px;"></canvas>
          
            <span style="font-size: 13px; line-height: 30px; margin-right: 10px; vertical-align: middle; margin-left: 40px;">From:</span>
            <input type="date" [(ngModel)]="startDateChart2" (change)="getWeightProgressForExercises()" style="font-size: 14px; padding: 5px 10px; height: 30px;  width: 140px;">
            <select disabled  class="select2" style="font-size: 14px; visibility: hidden; padding: 5px 10px; height: 30px; margin-top: 10px; color: white; background-color:white; ">
             
            </select>
            
            <span style="font-size: 13px; line-height: 30px; margin-right: 19px; vertical-align: middle; margin-left: 40px;">To:</span>
            <input type="date" [(ngModel)]="endDateChart2" (change)="getWeightProgressForExercises()" style="font-size: 14px; padding: 5px 10px; height: 30px; margin-top: 10px; width: 140px; ">
            </div>
            <span style="font-size: 13px; line-height: 30px; margin-right: 10px; vertical-align: middle; margin-left: 40px;">Select Exercise:</span>
            <select [(ngModel)]="selectedExercise" (change)="getWeightProgressForExercises()" style="font-size: 14px; padding: 5px 10px; height: 30px; margin-top: 10px; width: 250px; ">
              <option *ngFor="let exercise of exercises" [value]="exercise">{{exercise}}</option>
            </select>
        </div>
      </div>

   
        <!-- Card for workout-history -->
        <div class="col-md-3" style="margin-left: 50px; margin-top: 50px;">
          <div class="card my-4">
            <div class="card-header" style="background-color: #6a5acd; color: white;">
              <h6 style="margin-top: 10px">Your Workout History</h6>
            </div>
            <div class="card-body-history" style="height: 250px; overflow-y: auto;">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let workout of workouts">
                  <details>
                    <summary>
                      <div class="summary-container d-flex justify-content-between align-items-center">
                        <div class="summary-content">
                          <h6>{{ workout.workoutName }}</h6>
                          <p>{{ workout.createdDate | date }}</p>
                        </div>
                        <div>
                          <ng-container *ngIf="workout.workout_sets.length > 0">
                            <i class="bi bi-chevron-down" style="margin-right: 10px;"></i>
                          </ng-container>
                          <button class="btn btn-secondary btn-sm" (click)="confirmDelete(workout.workoutID)" title="Delete Workout">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </summary>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let set of workout.workout_sets">
                      <p style="margin-top: 0px; margin-bottom: 0px;">Exercise: {{ exerciseDetails[set.exerciseID]?.exerciseName }}</p>
                      <p style="margin-top: 0px; margin-bottom: 0px;">Reps: {{ set.reps }}</p>
                      <p style="margin-top: 0px; margin-bottom: 0px;">Weight: {{ set.weights }} kg</p>
                     
                    </li>
                  </ul>
                </details>
                </li>
              </ul>
            </div>
          </div>
        

    </div> 
  </div>
    <div class="row" style="margin-left: 40px; margin-top: 20px;">
      <div class="col-md-4">
        <div class="card my-4 last-workout-card" style="margin-left: 10px; max-width: 390px;  ">
          <div class="card-header" style="background-color: #406178; color: white; margin-top: 20px; ">
            <h6 style="margin-top: 10px">Your Last Workout</h6>
          </div>
          <div class="card-body-history" >
            <details *ngIf="lastWorkout">
              <summary>
                <div class="summary-container">
                  <div class="summary-content">
                    <h6 style="margin-top: 10px; margin-left: 10px;">{{ lastWorkout.workoutName }}</h6>
                    <p style="margin-top: 10px; margin-left: 10px;">{{ lastWorkout.createdDate | date }}</p>
                  </div>
                  <div class="summary-icon" *ngIf="lastWorkout.workout_sets.length > 0">
                    <i class="bi bi-chevron-down"></i> 
                  </div>
                </div>
              </summary>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let set of lastWorkout.workout_sets">
                  <p style="margin-top: 0px; margin-bottom: 0px;">Exercise: {{ exerciseDetails[set.exerciseID]?.exerciseName }}</p>
                  <p style="margin-top: 0px; margin-bottom: 0px;">Reps: {{ set.reps }}</p>
                  <p style="margin-top: 0px; margin-bottom: 0px;">Weight: {{ set.weights }} kg</p> 
                </li>
              </ul>
            </details>
        
        </div>

  </div> 
      </div>
      <div class="col-md-4">
        <div class="chart-container" style="height: 400px; max-height: 400px; ">
          <canvas #trainingInfoCanvas style="margin-bottom: 30px; "></canvas>
          <div style="display: flex; align-items: center;">
            <label style="margin-right: 5px;">From:</label>
            <input type="date" [(ngModel)]="startDateTrainingInfo" (change)="getTrainingInfoData()" style="width: 150px; font-size: 14px; padding: 5px 10px; height: 30px; margin-right: 10px;">
          </div>
          <div style="display: flex; align-items: center; margin-top: 10px;">
            <label style="margin-right: 20px;">To:</label>
            <input type="date" [(ngModel)]="endDateTrainingInfo" (change)="getTrainingInfoData()" style="width: 150px; font-size: 14px; padding: 5px 10px; height: 30px;">
          </div>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="chart-container" style="height: 400px; max-height: 400px; margin-left: 60px">
          <canvas #gymVisitsCanvas style="margin-bottom: 30px;"></canvas>
          <div style="display: flex; align-items: center; margin-top: 50px;">
            <label style="margin-right: 5px;">From:</label>
            <input type="date" [(ngModel)]="startDateGymVisits" (change)="loadGymVisitsData()" style="width: 150px; font-size: 14px; padding: 5px 10px; height: 30px; margin-right: 10px;">
          </div>
          <div style="display: flex; align-items: center; margin-top: 10px;">
            <label style="margin-right: 20px;">To:</label>
            <input type="date" [(ngModel)]="endDateGymVisits" (change)="loadGymVisitsData()" style="width: 150px; font-size: 14px; padding: 5px 10px; height: 30px;">
          </div>
        </div>
      </div>
    </div>

</div> 
</div>
</div>