<div class="card">
  <div class="card-header">
    <h2>Your Dashboard</h2>
  </div>
  <div class="card-body">
    <div class="formGroup text-center"> 
      <a class="btn btnPrimary btn-lg" routerLink="/new-workout">
        Add Workout <i class="bi bi-plus bi-4x" style="font-size: 24px;"></i> 
      </a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2>Your Statistics</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4"> 
        <div class="chart-container" style="height: 400px; max-height: 400px;">
       <!--   <canvas id="MyBarChart">{{ barChart }}</canvas>-->
        </div>
      </div>

      <div class="col-md-4 mt-0">
        <div class="chart-container" style="height: 400px; max-height: 400px;  flex-direction: column; align-items: center; text-align: center; margin-top:100px">
          <div>
            <canvas #chartCanvas></canvas>
            <select [(ngModel)]="selectedExercise" (change)="getWeightProgressForExercises()" style="margin-top: 50px; margin-right: 20px;">
              <option *ngFor="let exercise of exercises" [value]="exercise">{{exercise}}</option>
            </select>
          
            <input type="date" [(ngModel)]="startDate" (change)="getWeightProgressForExercises()"  style=" margin-right: 20px;">
            <input type="date" [(ngModel)]="endDate" (change)="getWeightProgressForExercises()">
          
          
          </div>
     

        </div>
      </div>
    </div>
  </div>
</div>
