*{
    outline: white;
    border: white;
}
.card-header{
    background-color: rgb(228, 231, 231);
    border-radius: 30px;
    margin-top: 5px;
}

.card-body{
    background-color:white;
    width: 100%;
}

#DonutChart, #MyBarChart{
    background-color:#ffffff;
    padding: 20px;
    border-radius: 10px;
}

.card{
    outline: none;
    width: 100%;
}

.chart-container {
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

select {
  width: 200px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  background: #f0f0f0;
  color: #333;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none; /* Entfernt standardmäßigen Dropdown-Pfeil */
  -moz-appearance: none;
  appearance: none;
}

select:hover {
  background-color: #e0e0e0; 
}


.form-element {
    margin-bottom: 10px; 
  }
  
  
  select {
    width: 180px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    color: #333;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  select:hover {
    background: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center / 15px 15px, #e0e0e0;
  }
  

  input[type="date"] {
    width: 200px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    background: #f0f0f0;
    color: #333;
    cursor: pointer;
  }
  
  input[type="date"]:hover {
    background-color: #e0e0e0;
  }
  
  .card-body-history ul.list-group li:nth-child(even) {
    background-color: #f0f0f0;
  }
  
  .card-body-history ul.list-group li:nth-child(odd) {
    background-color: #ffffff; 
  }
  
  .card-body-history ul.list-group li .list-group-item {
    background-color: inherit; 
  }
  
  .card-body-history {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  summary {
    list-style: none;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  input[type="date"]:hover {
    background-color: #e0e0e0;
  }

  .summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .summary-icon i {
    font-size: 1.2em; 
  }
  
  details[open] .summary-icon i {
    transform: rotate(180deg); 
  }

  .last-workout-card {
    height: 300px; 
    overflow-y: auto; 
}


.last-workout-card .card-body-history {
    max-height: 100%; 
    overflow-y: auto; 
}

.summary-container .summary-icon {
  margin-left: 10px; 
}



/* to see rows
.row{
  background-color:beige;
}

.page-container {
  overflow-y: auto;
  height: 100vh; 
}
*/