<div class="card">
  <div class="card-header">
    <h3>Welcome!</h3>
  </div>
  <div class="card-body">
    <h3>Click here to add a new Workout:</h3>
    <div class="formGroup text-center"> <!-- Die 'text-center' Klasse zentriert den Button -->
      <input
        type="button"
        class="btn btnPrimary"
        value="Add new Workout"
        routerLink="/new-workout"
      />
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3>Your Statistics</h3>
  </div>
  <div class="card-body">
    <!-- Beispiel-Charts hier einfügen -->
    <div class="chart-container" style="height: 200px; max-height: 200px;">
      <canvas id="MyChart">{{ chart }}</canvas>
    </div>
  </div>
</div>
