/* Default styles for all screen sizes */

div {
  display: block;
}

h3 {
  padding-top: 70px;
  cursor: default;
}

.row .exercise {
  min-height: 300px;
}

.muscle-groups-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cards */

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.card {
  width: 150px;
  background-color: #f0f0f0;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card:hover {
  background-color: #00a89775;
}

/* Tables and lists */

input[type="number"] {
  width: 100%;
  /* Make input fields take up the full cell width */
  box-sizing: border-box;
  /* Include padding and borders in the input width */
  max-width: none;
  /* Override any potential max-width */
}

table {
  border-collapse: collapse;
  width: 70%;
  table-layout: fixed;
  border-color: gray;
  display: table;
  border-spacing: 0;
  text-indent: initial;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  color: #434343;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

li {
  list-style: none;
  font-size: 22px;
  font-family: inherit;
}

li:hover {
  background-color: #00a89744;
  cursor: pointer;
}

.counter {
  padding: 0;
  vertical-align: middle;
  width: 15px;
}

th {
  display: table-cell;
  text-align: center;
  line-height: 16px;
  color: #757575;
  font-weight: 400;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: collapse;
  color: #434343;
}

td, .rep-weight-set {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  display: table-cell;
  line-height: 28px;
  padding: 10px;
  vertical-align: top;
}

.ng-untouched {
  width: 90%;
}

/* Exercises and Sets */

.exercise {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

/* Buttons */

.btn-addSet,
.btn-saveWorkout,
.btn-save {
  background-color: #00a89775;
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid gray;
  margin-top: 15px;
  top: 15px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 70px 0 rgba(0,0,0,0.19);
}

.btn-addSet {
  margin-right: 50px;
}

.btn-addSet:hover,
.btn-saveWorkout:hover,
.btn-save:hover {
  cursor: pointer;
  background-color: #a5e6e081;
}

.btn-deleteSet {
  background-color: #00a8974a;
  font-size: 16px;
  padding: 5px;
}

/* Containers */

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.exercise-sets-container,
.exercise-list-container,
.workout-container {
  flex-basis: 33%;
  margin: 0 5px;
  padding: 10px;
}

.exercise-list-container {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.exercise-sets-container {
  display: flex;
  grid-column: span 4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-right: 15px;
  line-height: 16px;
}

.workout-container {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.saved-exercises {
  width: 90%;
}

.workout-column input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.workout-container .saved-exercises {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 5px;
  height: 200px;
  /* Adjust as needed */
  overflow-y: auto;
  /* For scrolling */
}

.exercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-deleteExercise {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  margin-left: auto;
  /* Adjust the margin as needed for spacing */
}

/* Media queries for responsiveness */

@media screen and (max-width: 630px) {
  .cards {
    justify-content: space-between; /* Adjust card alignment for smaller screens */
  }

  .card {
    width: 100%; /* Make cards take up the full width on smaller screens */
    margin: 10px 0;
  }
}

@media screen and (max-width: 800px) {
  .exercise {
    grid-template-columns: 1fr; /* Change to a single column layout for small screens */
  }

  .exercise-list-container, .exercise-sets-container, .workout-container{
    grid-column: span 12; /* Take up the full width on small screens */
  }

}

@media screen and (max-width: 1100px) {
.exercise-sets-container{
  padding: 40px;
}

  table {
    width: 100%;
  }
}
