/* Style for the new-workout component */
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  
  .card {
    width: 150px;
    max-width: 100%; /* Make the cards full-width on smaller screens */
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card:hover {
    background-color: #ccc;
  }
  
  /* Media query for smaller screens (e.g., mobile devices) */
  @media screen and (max-width: 768px) {
    .card-container {
      padding: 10px; /* Add some padding for better mobile display */
    }
  
    .card {
      width: 100%; /* Make the cards take the full width of the screen */
    }
  
    .controls {
      flex-direction: column; /* Stack the navigation buttons for smaller screens */
    }
  }
  