<div class="page-container">
  <!-- First Container: Muscle Group Cards -->
  <div class="muscle-groups-container">
    <div class="cards">
      <div class="card" *ngFor="let muscleGroup of muscleGroups; let i = index" (click)="showExercises(i)">
        <img [src]="muscleGroup.image" alt="{{ muscleGroup.name }}">
        {{ muscleGroup.name }}
      </div>
    </div>
  </div>

  <div class="row exercise">
    <!-- Second Container: Exercise List -->
    <div class="exercise-list-container col" *ngIf="selectedMuscleGroup">
      <h3>{{ selectedMuscleGroup.name }} Exercises</h3>
      <ul>
        <li *ngFor="let exercise of selectedMuscleGroup.exercises; let j = index" (click)="showSets(j)">
          {{ exercise }}
        </li>
      </ul>
    </div>

    <!-- Third Container: Exercise Sets -->
    <div class="exercise-sets-container col" *ngIf="selectedExercise">
      <h3>{{ selectedExercise }} Sets</h3>
      <table>
        <thead>
          <tr>
            <th class="counter"></th>
            <th>Repetitions</th>
            <th>Kilos</th>
          </tr>
        </thead>
        <tbody>
          <tr class="rep-weight-set" *ngFor="let set of sets; let k = index">
            <td>{{ k + 1 }}</td>
            <td><input type="number" [(ngModel)]="set.reps"></td>
            <td><input type="number" [(ngModel)]="set.kilos"></td>
            <td><button class="btn-deleteSet" (click)="deleteSet(k)">Delete Set</button></td>
          </tr>
        </tbody>
      </table>
      <div>
        <button class="btn-addSet col" (click)="addSet()">Add Set</button>
        <button class="btn-save col" (click)="saveSet()" [disabled]="setsHasNullOrZeroOrNegativeValues()">Save
          Set</button>
      </div>
    </div>

    <!-- Fourth Container: Workout Cart -->
    <div class="workout-container col" *ngIf="showWorkoutContainer">
      <h3>Workout</h3>
      <input type="text" [(ngModel)]="workout.name" placeholder="Enter workout name">
      <div class="saved-exercises">
        <!-- Dynamically display saved exercises -->
        <div *ngFor="let exercise of workout.exercises; let exerciseIndex = index">
          <div class="exercise-item">
            <div class="exercise-details">
              <h4>{{ exercise.name }}</h4>
            </div>
            <div class="delete-button">
              <button class="btn-deleteExercise" (click)="deleteSavedExercise(exerciseIndex)">x</button>
            </div>
          </div>
          <ul>
            <li *ngFor="let set of exercise.sets">
              {{ set.reps }} reps - {{ set.kilos }} kilos
            </li>
          </ul>
        </div>
      </div>
      <button class="btn-saveWorkout" (click)="finalizeWorkout()">Save Workout</button>
    </div>
  </div>
</div>