.card {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    align-items: center;
    background: #053B50;
    height: 100%;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.2); 
}


.card-body {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    margin: 20px 0;
}

.card-text {
    margin: 20px 0; 
}

.space{
    margin-top:80px;
}

.outer{
  position: inherit;
 display: flex;
 justify-content: center;
 align-items: center;

}

